.navbar {
    padding: 20px 20px 42px 20px;
    border-bottom: 1px solid #d7dde3;
    position: relative;

    &__content {
        display: flex;
        justify-content: space-between;

        &__right {
            display: flex;
            align-items: center;
            gap: 40px;
            
            &__icons {
                display: flex;
                gap: 20px;
            }
        }
    }

    &__bar {
        margin-right: 20px;
        height: 2px;
        background: #EBEDEF;
        position: absolute;  
        bottom: 0;
        left: 0;
        right: 0; /* Stick to the bottom of the parent */
        width: 100%;
    }
}